In [3]:
# Load the dplyr package
library(dplyr)

# Load the hflights package
library(hflights)

# Call both head() and summary() on hflights
head(hflights)
summary(hflights)

     Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
5424 2011 1     1          6         1400    1500    AA            428
5425 2011 1     2          7         1401    1501    AA            428
5426 2011 1     3          1         1352    1502    AA            428
5427 2011 1     4          2         1403    1513    AA            428
5428 2011 1     5          3         1405    1507    AA            428
5429 2011 1     6          4         1359    1503    AA            428
     TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance
5424 N576AA  60                ... -10       0       IAH    DFW  224
5425 N557AA  60                ...  -9       1       IAH    DFW  224
5426 N541AA  70                ...  -8      -8       IAH    DFW  224
5427 N403AA  70                ...   3       3       IAH    DFW  224
5428 N492AA  62                ...  -3       5       IAH    DFW  224
5429 N262AA  64                ...  -7      -1       IAH    DFW  224
     TaxiIn TaxiOut Cancelled CancellationCode Diverted
5424 7      13      0                          0
5425 6       9      0                          0
5426 5      17      0                          0
5427 9      22      0                          0
5428 9       9      0                          0
5429 6      13      0                          0

      Year          Month          DayofMonth      DayOfWeek        DepTime
 Min.   :2011   Min.   : 1.000   Min.   : 1.00   Min.   :1.000   Min.   :   1
 1st Qu.:2011   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.:2.000   1st Qu.:1021
 Median :2011   Median : 7.000   Median :16.00   Median :4.000   Median :1416
 Mean   :2011   Mean   : 6.514   Mean   :15.74   Mean   :3.948   Mean   :1396
 3rd Qu.:2011   3rd Qu.: 9.000   3rd Qu.:23.00   3rd Qu.:6.000   3rd Qu.:1801
 Max.   :2011   Max.   :12.000   Max.   :31.00   Max.   :7.000   Max.   :2400
                                                                 NA's   :2905
    ArrTime     UniqueCarrier        FlightNum      TailNum
 Min.   :   1   Length:227496      Min.   :   1   Length:227496
 1st Qu.:1215   Class :character   1st Qu.: 855   Class :character
 Median :1617   Mode  :character   Median :1696   Mode  :character
 Mean   :1578                      Mean   :1962
 3rd Qu.:1953                      3rd Qu.:2755
 Max.   :2400                      Max.   :7290
 NA's   :3066
 ActualElapsedTime    AirTime         ArrDelay          DepDelay
 Min.   : 34.0     Min.   : 11.0   Min.   :-70.000   Min.   :-33.000
 1st Qu.: 77.0     1st Qu.: 58.0   1st Qu.: -8.000   1st Qu.: -3.000
 Median :128.0     Median :107.0   Median :  0.000   Median :  0.000
 Mean   :129.3     Mean   :108.1   Mean   :  7.094   Mean   :  9.445
 3rd Qu.:165.0     3rd Qu.:141.0   3rd Qu.: 11.000   3rd Qu.:  9.000
 Max.   :575.0     Max.   :549.0   Max.   :978.000   Max.   :981.000
 NA's   :3622      NA's   :3622    NA's   :3622      NA's   :2905
    Origin              Dest              Distance          TaxiIn
 Length:227496      Length:227496      Min.   :  79.0   Min.   :  1.000
 Class :character   Class :character   1st Qu.: 376.0   1st Qu.:  4.000
 Mode  :character   Mode  :character   Median : 809.0   Median :  5.000
                                       Mean   : 787.8   Mean   :  6.099
                                       3rd Qu.:1042.0   3rd Qu.:  7.000
                                       Max.   :3904.0   Max.   :165.000
                                                        NA's   :3066
    TaxiOut         Cancelled       CancellationCode      Diverted
 Min.   :  1.00   Min.   :0.00000   Length:227496      Min.   :0.000000
 1st Qu.: 10.00   1st Qu.:0.00000   Class :character   1st Qu.:0.000000
 Median : 14.00   Median :0.00000   Mode  :character   Median :0.000000
 Mean   : 15.09   Mean   :0.01307                      Mean   :0.002853
 3rd Qu.: 18.00   3rd Qu.:0.00000                      3rd Qu.:0.000000
 Max.   :163.00   Max.   :1.00000                      Max.   :1.000000
 NA's   :2947

*tibble* 
<br>Tibble is a special kind of data.frame. It is not working in Jupyter notebook yet. 
<br>You can change a data.frame to tibble with as_tibble()

In [9]:
glimpse(hflights)

Observations: 227,496
Variables: 21
$ Year              <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2...
$ Month             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ DayofMonth        <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15...
$ DayOfWeek         <int> 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1...
$ DepTime           <int> 1400, 1401, 1352, 1403, 1405, 1359, 1359, 1355, 1...
$ ArrTime           <int> 1500, 1501, 1502, 1513, 1507, 1503, 1509, 1454, 1...
$ UniqueCarrier     <chr> "AA", "AA", "AA", "AA", "AA", "AA", "AA", "AA", "...
$ FlightNum         <int> 428, 428, 428, 428, 428, 428, 428, 428, 428, 428,...
$ TailNum           <chr> "N576AA", "N557AA", "N541AA", "N403AA", "N492AA",...
$ ActualElapsedTime <int> 60, 60, 70, 70, 62, 64, 70, 59, 71, 70, 70, 56, 6...
$ AirTime           <int> 40, 45, 48, 39, 44, 45, 43, 40, 41, 45, 42, 41, 4...
$ ArrDelay          <int> -10, -9, -8, 3, -3, -7, -1, -16, 44, 43, 29, 5, -...
$ DepDelay          <int> 0, 1, -8, 3, 5, -1, -1, -5, 43, 43, 29, 19, -2, -...
$ Origin            <chr> "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", ...
$ Dest              <chr> "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", ...
$ Distance          <int> 224, 224, 224, 224, 224, 224, 224, 224, 224, 224,...
$ TaxiIn            <int> 7, 6, 5, 9, 9, 6, 12, 7, 8, 6, 8, 4, 6, 5, 6, 12,...
$ TaxiOut           <int> 13, 9, 17, 22, 9, 13, 15, 12, 22, 19, 20, 11, 13,...
$ Cancelled         <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ CancellationCode  <chr> "", "", "", "", "", "", "", "", "", "", "", "", "...
$ Diverted          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

### Changing labels of hflights
In the hflights the carriers are only as code visible, that can be confusion therefore we add a column with their full name.
<br>Also the CancellationCode column has non-informative codes

In [10]:
lut <- c("AA" = "American", "AS" = "Alaska", "B6" = "JetBlue", "CO" = "Continental", 
         "DL" = "Delta", "OO" = "SkyWest", "UA" = "United", "US" = "US_Airways", 
         "WN" = "Southwest", "EV" = "Atlantic_Southeast", "F9" = "Frontier", 
         "FL" = "AirTran", "MQ" = "American_Eagle", "XE" = "ExpressJet", "YV" = "Mesa")

# Add the Carrier column to hflights
hflights$Carrier <- lut[hflights$UniqueCarrier]

In [11]:
glimpse(hflights)

Observations: 227,496
Variables: 22
$ Year              <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2...
$ Month             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ DayofMonth        <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15...
$ DayOfWeek         <int> 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1...
$ DepTime           <int> 1400, 1401, 1352, 1403, 1405, 1359, 1359, 1355, 1...
$ ArrTime           <int> 1500, 1501, 1502, 1513, 1507, 1503, 1509, 1454, 1...
$ UniqueCarrier     <chr> "AA", "AA", "AA", "AA", "AA", "AA", "AA", "AA", "...
$ FlightNum         <int> 428, 428, 428, 428, 428, 428, 428, 428, 428, 428,...
$ TailNum           <chr> "N576AA", "N557AA", "N541AA", "N403AA", "N492AA",...
$ ActualElapsedTime <int> 60, 60, 70, 70, 62, 64, 70, 59, 71, 70, 70, 56, 6...
$ AirTime           <int> 40, 45, 48, 39, 44, 45, 43, 40, 41, 45, 42, 41, 4...
$ ArrDelay          <int> -10, -9, -8, 3, -3, -7, -1, -16, 44, 43, 29, 5, -...
$ DepDelay          <int> 0, 1, -8, 3, 5, -1, -1, -5, 43, 43, 29, 19, -2, -...
$ Origin            <chr> "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", ...
$ Dest              <chr> "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", ...
$ Distance          <int> 224, 224, 224, 224, 224, 224, 224, 224, 224, 224,...
$ TaxiIn            <int> 7, 6, 5, 9, 9, 6, 12, 7, 8, 6, 8, 4, 6, 5, 6, 12,...
$ TaxiOut           <int> 13, 9, 17, 22, 9, 13, 15, 12, 22, 19, 20, 11, 13,...
$ Cancelled         <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ CancellationCode  <chr> "", "", "", "", "", "", "", "", "", "", "", "", "...
$ Diverted          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ Carrier           <chr> "American", "American", "American", "American", "...

In [15]:
unique(hflights$CancellationCode)

[1] ""  "A" "B" "C" "D"

In [14]:
# The lookup table
lut <- c("A" = "carrier", "B" = "weather", "C" = "FFA", "D" = "security", "E" = "not cancelled")

# Add the Code column
hflights$Code <- lut[hflights$CancellationCode]

# Glimpse at hflights
glimpse(hflights)

Observations: 227,496
Variables: 23
$ Year              <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2...
$ Month             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ DayofMonth        <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15...
$ DayOfWeek         <int> 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1...
$ DepTime           <int> 1400, 1401, 1352, 1403, 1405, 1359, 1359, 1355, 1...
$ ArrTime           <int> 1500, 1501, 1502, 1513, 1507, 1503, 1509, 1454, 1...
$ UniqueCarrier     <chr> "AA", "AA", "AA", "AA", "AA", "AA", "AA", "AA", "...
$ FlightNum         <int> 428, 428, 428, 428, 428, 428, 428, 428, 428, 428,...
$ TailNum           <chr> "N576AA", "N557AA", "N541AA", "N403AA", "N492AA",...
$ ActualElapsedTime <int> 60, 60, 70, 70, 62, 64, 70, 59, 71, 70, 70, 56, 6...
$ AirTime           <int> 40, 45, 48, 39, 44, 45, 43, 40, 41, 45, 42, 41, 4...
$ ArrDelay          <int> -10, -9, -8, 3, -3, -7, -1, -16, 44, 43, 29, 5, -...
$ DepDelay          <int> 0, 1, -8, 3, 5, -1, -1, -5, 43, 43, 29, 19, -2, -...
$ Origin            <chr> "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", ...
$ Dest              <chr> "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", ...
$ Distance          <int> 224, 224, 224, 224, 224, 224, 224, 224, 224, 224,...
$ TaxiIn            <int> 7, 6, 5, 9, 9, 6, 12, 7, 8, 6, 8, 4, 6, 5, 6, 12,...
$ TaxiOut           <int> 13, 9, 17, 22, 9, 13, 15, 12, 22, 19, 20, 11, 13,...
$ Cancelled         <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ CancellationCode  <chr> "", "", "", "", "", "", "", "", "", "", "", "", "...
$ Diverted          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ Carrier           <chr> "American", "American", "American", "American", "...
$ Code              <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N...

## The five key data manipulation functions

    select(), which returns a subset of the columns,
    filter(), that is able to return a subset of the rows,
    arrange(), that reorders the rows according to single or multiple variables,
    mutate(), used to add columns from existing data,
    summarize(), which reduces each group to a single row by calculating aggregate measures.

### select()
select(df, var1, var2)

You can use : to select a range of variables and - to exclude some variables, similar to indexing a data.frame with square brackets. You can use both variable's names as well as integer indexes.

In [18]:
head(select(hflights, -(5:11)))

  Year Month DayofMonth DayOfWeek ArrDelay DepDelay Origin Dest Distance TaxiIn
1 2011 1     1          6         -10       0       IAH    DFW  224      7
2 2011 1     2          7          -9       1       IAH    DFW  224      6
3 2011 1     3          1          -8      -8       IAH    DFW  224      5
4 2011 1     4          2           3       3       IAH    DFW  224      9
5 2011 1     5          3          -3       5       IAH    DFW  224      9
6 2011 1     6          4          -7      -1       IAH    DFW  224      6
  TaxiOut Cancelled CancellationCode Diverted Carrier  Code
1 13      0                          0        American NA
2  9      0                          0        American NA
3 17      0                          0        American NA
4 22      0                          0        American NA
5  9      0                          0        American NA
6 13      0                          0        American NA

Helper functions for variable selection

dplyr comes with a set of helper functions that can help you select groups of variables inside a select() call:

    starts_with("X"): every name that starts with "X",
    ends_with("X"): every name that ends with "X",
    contains("X"): every name that contains "X",
    matches("X"): every name that matches "X", where "X" can be a regular expression,
    num_range("x", 1:5): the variables named x01, x02, x03, x04 and x05,
    one_of(x): every name that appears in x, which should be a character vector.

In [19]:
# Print out a tbl containing just ArrDelay and DepDelay
head(select(hflights, ends_with("Delay")))

  ArrDelay DepDelay
1 -10       0
2  -9       1
3  -8      -8
4   3       3
5  -3       5
6  -7      -1

### mutate() 
mutate creates new columns which are added to a copy of the dataset.

Take this example that adds a new column, z, which is the element-wise sum of the columns x and y, to the data frame df:

mutate(df, z = x + y)

mutate(my_df, x = a + b, y = x + c)

In [20]:
# Add the new variable ActualGroundTime to a copy of hflights and save the result as g1.
g1 <- mutate(hflights, ActualGroundTime = ActualElapsedTime - AirTime)

# Add the new variable GroundTime to g1. Save the result as g2.
g2 <- mutate(g1, GroundTime = TaxiIn + TaxiOut)

# Add the new variable AverageSpeed to g2. Save the result as g3.
g3 <- mutate(g2, AverageSpeed = 60 * Distance / AirTime)

# Print out g3
head(g3)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ... TaxiIn TaxiOut Cancelled CancellationCode
1 N576AA  60                ... 7      13      0
2 N557AA  60                ... 6       9      0
3 N541AA  70                ... 5      17      0
4 N403AA  70                ... 9      22      0
5 N492AA  62                ... 9       9      0
6 N262AA  64                ... 6      13      0
  Diverted Carrier  Code ActualGroundTime GroundTime AverageSpeed
1 0        American NA   20               20         336.0000
2 0        American NA   15               15         298.6667
3 0        American NA   22               22         280.0000
4 0        American NA   31               31         344.6154
5 0        American NA   18               18         305.4545
6 0        American NA   19               19         298.6667

### filter()
R comes with a set of logical operators that you can use inside filter():

    x < y, TRUE if x is less than y
    x <= y, TRUE if x is less than or equal to y
    x == y, TRUE if x equals y
    x != y, TRUE if x does not equal y
    x >= y, TRUE if x is greater than or equal to y
    x > y, TRUE if x is greater than y
    x %in% c(a, b, c), TRUE if x is in the vector c(a, b, c)

The following example filters df such that only the observations for which a is positive, are kept:

filter(df, a > 0)

In [21]:
# All flights that traveled 3000 miles or more
head(filter(hflights, Distance >= 3000), 2)

# All flights flown by one of JetBlue, Southwest, or Delta
head(filter(hflights, Carrier %in% c("JetBlue", "Southwest", "Delta")), 2)

# All flights where taxiing took longer than flying
head(filter(hflights, (TaxiOut + TaxiIn) > AirTime), 2)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     31         1         924     1413    CO            1
2 2011 1     30         7         925     1410    CO            1
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N69063  529               ... IAH    HNL  3904      6     31      0
2 N76064  525               ... IAH    HNL  3904     13     19      0
  CancellationCode Diverted Carrier     Code
1                  0        Continental NA
2                  0        Continental NA

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6          654    1124    B6            620
2 2011 1     1          6         1639    2110    B6            622
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N324JB  210               ... HOU    JFK  1428      6     23      0
2 N324JB  211               ... HOU    JFK  1428     12     11      0
  CancellationCode Diverted Carrier Code
1                  0        JetBlue NA
2                  0        JetBlue NA

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     24         1          731     904    AA            460
2 2011 1     30         7         1959    2132    AA            533
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N545AA  93                ... IAH    DFW  224      14     37      0
2 N455AA  93                ... IAH    DFW  224      10     40      0
  CancellationCode Diverted Carrier  Code
1                  0        American NA
2                  0        American NA

**Combining tests using boolean operators**

R also comes with a set of boolean operators that you can use to combine multiple logical tests into a single test. These include & (and), | (or), and ! (not). Instead of using the & operator, you can also pass several logical tests to filter(), separated by commas. The following two calls are completely equivalent:

filter(df, a > 0 & b > 0)
filter(df, a > 0, b > 0)

Next, is.na() will also come in handy. This example keeps the observations in df for which the variable x is not NA:

filter(df, !is.na(x))

In [22]:
# All flights that departed before 5am or arrived after 10pm
head(filter(hflights, DepTime < 500 | ArrTime > 2200), 2)

# All flights that departed late but arrived ahead of schedule
head(filter(hflights, DepDelay > 0 & ArrDelay < 0), 2)

# All flights that were cancelled after being delayed
head(filter(hflights, DepDelay > 0 & Cancelled == 1), 2)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1      4         2         2100    2207    AA            533
2 2011 1     14         5         2119    2229    AA            533
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N4XGAA  67                ... IAH    DFW  224      3      22      0
2 N549AA  70                ... IAH    DFW  224      5      20      0
  CancellationCode Diverted Carrier  Code
1                  0        American NA
2                  0        American NA

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     2          7         1401    1501    AA            428
2 2011 1     5          3         1405    1507    AA            428
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N557AA  60                ... IAH    DFW  224      6      9       0
2 N492AA  62                ... IAH    DFW  224      9      9       0
  CancellationCode Diverted Carrier  Code
1                  0        American NA
2                  0        American NA

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     26         3         1926    NA      CO            310
2 2011 1     11         2         1100    NA      US            944
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N77865  NA                ... IAH    EWR  1400     NA     NA      1
2 N452UW  NA                ... IAH    CLT   913     NA     NA      1
  CancellationCode Diverted Carrier     Code
1 B                0        Continental weather
2 B                0        US_Airways  weather

How many weekend flights flew a distance of more than 1000 miles but had a total taxiing time below 15 minutes?

In [24]:
nrow(hflights %>% 
     filter(DayOfWeek %in% c(6, 7)) %>% 
     mutate(Taxi_total = TaxiIn + TaxiOut) %>% 
     filter(Taxi_total < 15 & Distance > 1000))

[1] 1739

### arrange()
arrange() can be used to rearrange rows according to any type of data. If you pass arrange() a character variable, for example, R will rearrange the rows in alphabetical order according to values of the variable. If you pass a factor variable, R will rearrange the rows according to the order of the levels in your factor (running levels() on the variable reveals this order).

By default, arrange() arranges the rows from smallest to largest. Rows with the smallest value of the variable will appear at the top of the data set. You can reverse this behavior with the desc() function.

In [26]:
# Definition of dtc
dtc <- filter(hflights, Cancelled == 1, !is.na(DepDelay))

# Arrange dtc by departure delays
head(arrange(dtc, DepDelay))

# Arrange dtc so that cancellation reasons are grouped
head(arrange(dtc, Code))
# Arrange dtc according to carrier and departure delays
head(arrange(dtc, Carrier, DepDelay))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011  7    23         6          605    NA      F9             225
2 2011  1    17         1          916    NA      XE            3068
3 2011 12     1         4          541    NA      US             282
4 2011 10    12         3         2022    NA      MQ            3724
5 2011  7    29         5         1424    NA      CO            1079
6 2011  9    29         4         1639    NA      OO            2062
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N912FR  NA                ... HOU    DEN   883     NA     10      1
2 N13936  NA                ... IAH    HRL   295     NA     NA      1
3 N840AW  NA                ... IAH    PHX  1009     NA     NA      1
4 N539MQ  NA                ... IAH    LAX  1379     NA     NA      1
5 N14628  NA                ... IAH    ORD   925     NA     13      1
6 N724SK  NA                ... IAH    ATL   689     NA     NA      1
  CancellationCode Diverted Carrier        Code
1 A                0        Frontier       carrier
2 B                0        ExpressJet     weather
3 A                0        US_Airways     carrier
4 A                0        American_Eagle carrier
5 A                0        Continental    carrier
6 B                0        SkyWest        weather

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     20         4         1413    NA      UA             552
2 2011 1      7         5         2028    NA      XE            3050
3 2011 2      4         5         1638    NA      AA            1121
4 2011 2      8         2         1057    NA      CO             408
5 2011 2      1         2         1508    NA      OO            5812
6 2011 2     21         1         2257    NA      OO            1111
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N509UA  NA                ... IAH    IAD  1190     NA     NA      1
2 N15912  NA                ... IAH    JAX   817     NA     19      1
3 N537AA  NA                ... IAH    DFW   224     NA     19      1
4 N11641  NA                ... IAH    EWR  1400     NA     NA      1
5 N959SW  NA                ... IAH    ATL   689     NA     19      1
6 N778SK  NA                ... IAH    AUS   140     NA     NA      1
  CancellationCode Diverted Carrier     Code
1 A                0        United      carrier
2 A                0        ExpressJet  carrier
3 A                0        American    carrier
4 A                0        Continental carrier
5 A                0        SkyWest     carrier
6 A                0        SkyWest     carrier

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011  6    11         6         1649    NA      FL            1595
2 2011  8    18         4         1808    NA      AA            1294
3 2011  2     4         5         1638    NA      AA            1121
4 2011 10    12         3         2022    NA      MQ            3724
5 2011  2     9         3          555    NA      MQ            3265
6 2011  7    17         7         1917    NA      MQ            3717
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N946AT  NA                ... HOU    BKG   490     NA     25      1
2 N3FLAA  NA                ... IAH    MIA   964     NA     NA      1
3 N537AA  NA                ... IAH    DFW   224     NA     19      1
4 N539MQ  NA                ... IAH    LAX  1379     NA     NA      1
5 N613MQ  NA                ... HOU    DFW   247     NA     11      1
6 N503MQ  NA                ... IAH    ORD   925     NA     NA      1
  CancellationCode Diverted Carrier        Code
1 A                0        AirTran        carrier
2 A                0        American       carrier
3 A                0        American       carrier
4 A                0        American_Eagle carrier
5 A                0        American_Eagle carrier
6 A                0        American_Eagle carrier

In [27]:
# Arrange according to carrier and decreasing departure delays
head(arrange(hflights, UniqueCarrier, desc(DepDelay)))

# Arrange flights by total delay (normal order).
head(arrange(hflights, DepDelay + ArrDelay))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 12    12         1          650     808    AA            1740
2 2011 11    19         6         1752    1910    AA            1903
3 2011 12    22         4         1728    1848    AA            1903
4 2011 10    23         7         2305       2    AA             742
5 2011  9    27         2         1206    1300    AA            1948
6 2011  3    17         4         1647    1747    AA            1505
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N473AA  78                ... IAH    DFW  224      14     15      0
2 N495AA  78                ... IAH    DFW  224       7     31      0
3 N580AA  80                ... IAH    DFW  224       8     32      0
4 N548AA  57                ... IAH    DFW  224       5     13      0
5 N4YUAA  54                ... IAH    DFW  224      10      7      0
6 N584AA  60                ... IAH    DFW  224       7     12      0
  CancellationCode Diverted Carrier  Code
1                  0        American NA
2                  0        American NA
3                  0        American NA
4                  0        American NA
5                  0        American NA
6                  0        American NA

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011  7     3         7         1914    2039    XE            2804
2 2011  8    31         3          934    1039    OO            2040
3 2011  8    21         7          935    1039    OO            2001
4 2011  8    28         7         2059    2206    OO            2003
5 2011  8    29         1          935    1041    OO            2040
6 2011 12    25         7          741     926    OO            4591
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N12157   85               ... IAH    MEM   468     4      15      0
2 N783SK  185               ... IAH    BFL  1428     3      10      0
3 N767SK  184               ... IAH    BFL  1428     3      10      0
4 N783SK  187               ... IAH    BFL  1428     5      11      0
5 N767SK  186               ... IAH    BFL  1428     4      13      0
6 N814SK  165               ... IAH    SLC  1195     4      14      0
  CancellationCode Diverted Carrier    Code
1                  0        ExpressJet NA
2                  0        SkyWest    NA
3                  0        SkyWest    NA
4                  0        SkyWest    NA
5                  0        SkyWest    NA
6                  0        SkyWest    NA

### summarise()
summarise uses the same syntax as mutate(), but the resulting dataset consists of a single row instead of an entire new column in the case of mutate().

In contrast to the four other data manipulation functions, summarize() does not return an altered copy of the dataset it is summarizing; instead, it builds a new dataset that contains only the summarizing statistics.

summarise(df, z = min(x))

In [29]:
# Print out a summary with variables min_dist and max_dist
summarize(hflights, min_dist = min(Distance), max_dist = max(Distance))

# Print out a summary with variable max_div
hflights %>%
  filter(Diverted == 1) %>%
  summarise(max_div = max(Distance))

  min_dist max_dist
1 79       3904

  max_div
1 3904

**Aggregate functions**

You can use any function you like in summarize() so long as the function can take a vector of data and return a single number. R contains many aggregating functions, as dplyr calls them:

    min(x) - minimum value of vector x.
    max(x) - maximum value of vector x.
    mean(x) - mean value of vector x.
    median(x) - median value of vector x.
    quantile(x, p) - pth quantile of vector x.
    sd(x) - standard deviation of vector x.
    var(x) - variance of vector x.
    IQR(x) - Inter Quartile Range (IQR) of vector x.
    diff(range(x)) - total range of vector x.

In [31]:
# Remove rows that have NA ArrDelay: temp1
temp1 <- filter(hflights, !is.na(ArrDelay))

# Generate summary about ArrDelay column of temp1
summarise(temp1, earliest = min(ArrDelay), average = mean(ArrDelay), latest = max(ArrDelay), sd = sd(ArrDelay))

# Keep rows that have no NA TaxiIn and no NA TaxiOut: temp2
temp2 <- filter(hflights, !is.na(TaxiIn) & !is.na(TaxiOut))

# Print the maximum taxiing difference of temp2 with summarize()
summarise(temp2, max_taxi_diff = max(abs(TaxiIn - TaxiOut)))

  earliest average  latest sd
1 -70      7.094334 978    30.70852

  max_taxi_diff
1 160

### dplyr aggregate functions
dplyr provides several helpful aggregate functions of its own, in addition to the ones that are already defined in R. These include:

    first(x) - The first element of vector x.
    last(x) - The last element of vector x.
    nth(x, n) - The nth element of vector x.
    n() - The number of rows in the data.frame or group of observations that summarize() describes.
    n_distinct(x) - The number of unique values in vector x.

In [34]:
# Generate summarizing statistics for hflights
summarize(hflights,
          n_obs = n(),
          n_carrier = n_distinct(UniqueCarrier),
          n_dest = n_distinct(Dest))

# All American Airline flights
aa <- filter(hflights, Carrier == "American")

# Generate summarizing statistics for aa 
summarize(aa, n_flights = n(),
  n_canc = sum(Cancelled == 1),
  avg_delay = mean(ArrDelay, na.rm = TRUE))

  n_obs  n_carrier n_dest
1 227496 15        116

  n_flights n_canc avg_delay
1 3244      60     0.8917558

## Pipe operator

In [35]:
# Chain together mutate(), filter() and summarize()
hflights %>%
  mutate(RealTime = ActualElapsedTime + 100, mph = Distance * 60 / RealTime) %>%
  filter(!is.na(mph) & mph < 70) %>%
  summarize(n_less = n(),
            n_dest = n_distinct(Dest),
            min_dist = min(Distance),
            max_dist = max(Distance))

  n_less n_dest min_dist max_dist
1 6726   13     79       305

## group_by()
group_by() lets you define groups within your data set. Its influence becomes clear when calling summarize() on a grouped dataset: summarizing statistics are calculated for the different groups separately.

In [37]:
hflights %>%
  group_by(Carrier) %>%
  summarize(
    p_canc = mean(Cancelled == 1) * 100,
    avg_delay = mean(ArrDelay, na.rm = TRUE)
  ) %>%
  arrange(avg_delay, p_canc)

   Carrier            p_canc    avg_delay
1  US_Airways         1.1268986 -0.6307692
2  American           1.8495684  0.8917558
3  AirTran            0.9817672  1.8536239
4  Alaska             0.0000000  3.1923077
5  Mesa               1.2658228  4.0128205
6  Delta              1.5903067  6.0841374
7  Continental        0.6782614  6.0986983
8  American_Eagle     2.9044750  7.1529751
9  Atlantic_Southeast 3.4482759  7.2569543
10 Southwest          1.5504047  7.5871430
11 Frontier           0.7159905  7.6682692
12 ExpressJet         1.5495599  8.1865242
13 SkyWest            1.3946828  8.6934922
14 JetBlue            2.5899281  9.8588410
15 United             1.6409266 10.4628628

In [47]:
# How many airplanes only flew to one destination?
hflights %>%
    group_by(TailNum) %>%
    summarize(ndest = n_distinct(Dest)) %>% 
    filter(TailNum != "" & ndest == 1) %>%
    summarize(nplanes = n())

# Find the most visited destination for each carrier
hflights %>%
  group_by(UniqueCarrier, Dest) %>%
  summarize(n = n()) %>%
  mutate(rank = rank(-n)) %>%
  filter(rank == 1)

  nplanes
1 1526

   UniqueCarrier Dest n    rank
1  AA            DFW  2105 1
2  AS            SEA   365 1
3  B6            JFK   695 1
4  CO            EWR  3924 1
5  DL            ATL  2396 1
6  EV            DTW   851 1
7  F9            DEN   837 1
8  FL            ATL  2029 1
9  MQ            DFW  2424 1
10 OO            COS  1335 1
11 UA            SFO   643 1
12 US            CLT  2212 1
13 WN            DAL  8243 1
14 XE            CRP  3175 1
15 YV            CLT    71 1

In [49]:
# Set up a connection to the mysql database
# my_db <- src_mysql(dbname = "dplyr", 
 #                   host = "courses.csrrinzqubik.us-east-1.rds.amazonaws.com", 
 #                  port = 3306, 
  #                 user = "student",
   #                password = "datacamp")

# Reference a table within that source: nycflights#nycflights <- tbl(my_db, "dplyr")

# glimpse at nycflights
#glimpse(nycflights)


# Ordered, grouped summary of nycflights
#  nycflights %>%
 #   group_by(carrier) %>%
  #  summarize(n_flights = n(), avg_delay = mean(arr_delay)) %>%
   # arrange(avg_delay)

ERROR: Error: The RMySQL package is required to connect to MySQL/MariaDB.
Please install it with `install.packages("RMySQL")`