## read.csv

To list the files in the working directory type dir().
read.csv to read csv files into R

In [1]:
salary <- read.csv("monthly_salary_brazil.csv")
str(salary)

'data.frame':	1086597 obs. of  10 variables:
 $ Id             : num  1 2 3 4 5 6 7 8 9 10 ...
 $ job            : Factor w/ 3461 levels "","1CFO  PM",..: 2397 2795 4 2287 101 2793 2 1252 1310 2793 ...
 $ sector         : Factor w/ 91 levels ""," PROJETOS E OBRAS",..: 29 66 66 83 50 66 66 83 66 66 ...
 $ Month_salary   : Factor w/ 292270 levels "","0.000","0.010",..: 88432 126947 282478 28059 182370 189232 88176 51200 162889 165402 ...
 $ X13_salary     : num  0 0 0 0 0 ...
 $ eventual_salary: num  0 0 0 0 0 0 0 0 0 0 ...
 $ indemnity      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ extra_salary   : num  73.8 651.8 626.8 0 0 ...
 $ discount_salary: num  0 0 0 0 0 0 0 0 0 0 ...
 $ total_salary   : num  1929 2266 6933 10568 3562 ...

In [2]:
salary2 <- read.csv("monthly_salary_brazil.csv", stringsAsFactors = FALSE)
str(salary2)

'data.frame':	1086597 obs. of  10 variables:
 $ Id             : num  1 2 3 4 5 6 7 8 9 10 ...
 $ job            : chr  "OFICIAL ADMINISTRATIVO" "SD 2C PM" "1TEN  PM" "MAJ   PM" ...
 $ sector         : chr  "DETRAN" "PM" "PM" "SPPREV" ...
 $ Month_salary   : chr  "2315.810" "3034.050" "8990.980" "13591.020" ...
 $ X13_salary     : num  0 0 0 0 0 ...
 $ eventual_salary: num  0 0 0 0 0 0 0 0 0 0 ...
 $ indemnity      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ extra_salary   : num  73.8 651.8 626.8 0 0 ...
 $ discount_salary: num  0 0 0 0 0 0 0 0 0 0 ...
 $ total_salary   : num  1929 2266 6933 10568 3562 ...

## read.delim

Aside from .csv files, there are also the .txt files which are basically text files. You can import these functions with read.delim(). By default, it sets the sep argument to "\t" (fields in a record are delimited by tabs) and the header argument to TRUE (the first row contains the field names). 

## read.table

If you're dealing with more exotic flat file formats, you'll want to use read.table(). It's the most basic importing function; you can specify tons of different arguments in this function. Unlike read.csv() and read.delim(), the header argument defaults to FALSE and the sep argument is "" by default.

If the file is in a folder in your working directory use file.path("data", "hotdogs.txt")

which.min(), returns the index the smallest value in a vector.
which.max(), returns the index the highest value in a vector.

## Column classes

sets the classes when loading in: 
colClasses = c("character", "numeric", "logical")

If a column is set to "NULL" in the colClasses vector, this column will be skipped and will not be loaded into the data frame.

## read.csv2 and read.delim2

are for files form countries who use "," to seperate numbers instead of "."

# readr package

Files loaded with readr package are in tibbel format

read_tsv() to easily read in TSV files. TSV is short for tab-separated values.

In [4]:
library(readr)
head(read_csv("monthly_salary_brazil.csv"))

Parsed with column specification:
cols(
  Id = col_integer(),
  job = col_character(),
  sector = col_character(),
  Month_salary = col_character(),
  `13_salary` = col_double(),
  eventual_salary = col_double(),
  indemnity = col_double(),
  extra_salary = col_double(),
  discount_salary = col_double(),
  total_salary = col_double()
)
Warning message in rbind(names(probs), probs_f):
"number of columns of result is not a multiple of vector length (arg 1)"Warning message:
"919 parsing failures.
row # A tibble: 5 x 5 col     row col   expected   actual     file                        expected   <int> <chr> <chr>      <chr>      <chr>                       actual 1   845 <NA>  10 columns 11 columns 'monthly_salary_brazil.csv' file 2   847 <NA>  10 columns 11 columns 'monthly_salary_brazil.csv' row 3  1688 <NA>  10 columns 11 columns 'monthly_salary_brazil.csv' col 4  2311 <NA>  10 columns 11 columns 'monthly_salary_brazil.csv' expected 5  3668 <NA>  10 columns 11 columns 'monthly_salary_brazil.csv'
... ................. ... ............................................................... ........ ............................................................... ...... ............................................................... .... ............................................................... ... ............................................................... ... ............................................................... ........ ...............................................................
See problems(...) for more details.
"

  Id job                       sector  Month_salary 13_salary eventual_salary
1 1  OFICIAL ADMINISTRATIVO    DETRAN  2315.810     0         0
2 2  SD 2C PM                  PM      3034.050     0         0
3 3  1TEN  PM                  PM      8990.980     0         0
4 4  MAJ   PM                  SPPREV  13591.020    0         0
5 5  AG.TEC. DE ASSIT. A SAUDE HCFMUSP 4203.670     0         0
6 6  SD 1C PM                  PM      4373.690     0         0
  indemnity extra_salary discount_salary total_salary
1 0          73.85       0                1929.34
2 0         651.82       0                2265.96
3 0         626.75       0                6933.04
4 0           0.00       0               10568.36
5 0           0.00       0                3561.88
6 0         451.26       0                4152.98

## read_delim

read_delim() takes two mandatory arguments:

    file: the file that contains the data
    delim: the character that separates the values in the data file


## skip and n_max

Through skip and n_max you can control which part of your flat file you're actually importing into R.

    skip specifies the number of lines you're ignoring in the flat file before actually starting to import data.
    n_max specifies the number of lines you're actually importing.

Say for example you have a CSV file with 20 lines, and set skip = 2 and n_max = 3, you're only reading in lines 3, 4 and 5 of the file.
Watch out: Once you skip some lines, you also skip the first line that can contain column names!

## col_types

You can also specify which types the columns in your imported data frame should have. You can do this with col_types. If set to NULL, the default, functions from the readr package will try to find the correct types themselves. You can manually set the types with a string, where each character denotes the class of the column: character, double, integer and logical. _ skips the column as a whole.

## col_types with collectors

Another way of setting the types of the imported columns is using collectors. Collector functions can be passed in a list() to the col_types argument of read_ functions to tell them how to interpret values in a column.

For a complete list of collector functions, you can take a look at the collector documentation. For this exercise you will need two collector functions:

    col_integer(): the column should be interpreted as an integer.
    col_factor(levels, ordered = FALSE): the column should be interpreted as a factor with levels.

hotdogs_factor <- read_tsv("hotdogs.txt",
                           col_names = c("type", "calories", "sodium"),
                           col_types = list(fac, int, int))
                           
# data.table

## fread()
fread is similar than read.table, but much faster.


drop and select, to drop or select variables of interest.

Suppose you have a dataset that contains 5 variables and you want to keep the first and fifth variable, named "a" and "e". 

  fread("path/to/file.txt", drop = 2:4)
  fread("path/to/file.txt", select = c(1, 5))
  fread("path/to/file.txt", drop = c("b", "c", "d"))
  fread("path/to/file.txt", select = c("a", "e"))

# readxl package

Before you can start importing from Excel, you should find out which sheets are available in the workbook. You can use the excel_sheets() function for this.

Now that you know the names of the sheets in the Excel file you want to import, it is time to import those sheets into R. You can do this with the read_excel() function. Have a look at this recipe:

  data <- read_excel("data.xlsx", sheet = "my_sheet")

This call simply imports the sheet with the name "my_sheet" from the "data.xlsx" file. You can also pass a number to the sheet argument; this will cause read_excel() to import the sheet with the given sheet number. sheet = 1 will import the first sheet, sheet = 2 will import the second sheet, and so on.

## Reading a workbook

Loading in every sheet manually and then merging them in a list can be quite tedius but it can be automated with lapply().

Other packages working with gdata and xlconnect